body {
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  text-align: left;
}

h1 {
  margin: 40px 0 0 20px;
}

.react-logo { width: 3.2rem;}

.header-el { display: flex; justify-content: space-between;}

.nav-list { display: flex; list-style: none; gap: 1rem; width: fit-content; 
   padding: 0; margin-right: 1rem;}
