body { margin: 0; font-family: Inter, sans-serif;  background-color: #FAFAF8; color: black;}
header { box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06); 
  display: flex; justify-content: center; align-items: center; gap: 1rem; height: 7rem; background-color: white;}
header > h1 {font-weight: 300;}
main {width: 100%; height: 100%;}
input { all: unset; border-radius: 0.375rem; border: 1px solid #D1D5DB; background-color: white; height: 2.375rem; width: 25rem;
  padding-left: 0.75rem; font-weight: 300;}
button {all: unset; border-radius: 0.375rem; background-color: black; color: white; width: 11.5rem; text-align: center;}
.setup { display: flex; justify-content: center; margin-top: 4rem; gap: 0.75rem;}

/**
header box shadow code:
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
*/