body { margin: 0; font-family: Inter, sans-serif;  background-color: #FAFAF8; color: black;}
header { box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06); 
  display: flex; justify-content: center; align-items: center; gap: 1rem; height: 7rem; background-color: white;}
header > h1 {font-weight: 300;}
main { width: 80%; height: 100%; margin: 0 auto; }
input { all: unset; border-radius: 0.375rem; border: 1px solid #D1D5DB; background-color: white; 
  height: 2.375rem; width: 25rem; padding-left: 0.75rem; font-weight: 300; 
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); flex-grow: 1; min-width: 10rem; }
.setup { display: flex; justify-content: start; margin-top: 4rem; gap: 0.75rem;}
.setup > button {all: unset; border-radius: 0.375rem; background-color: black; color: white; width: 11.5rem; 
   flex-grow: 1; min-width: 11.5rem; display: flex; align-items: center; justify-content: center;} 
.setup > button::before { content: '+'; margin-right: 0.25rem; font-size: 1rem;}
.get-recipe { display: flex; margin-top: 4rem; background-color: #F0EFEB; border-radius: 0.5rem; 
  padding: 1.5rem 3.5rem; align-items: center; gap: 6rem;
  }
.get-recipe > button { all: unset; height: fit-content; background-color: #D17557; border-radius: 0.375rem; }


