body { margin: 0; font-family: Inter, sans-serif; background-color: white; }
header { width: 100%; height: 3.4375rem; background-color: #F55A5A; display: flex; justify-content: center; align-items: center;}
header > h1 { font-weight: 400; font-size: 0.9rem; margin-left: 0.375rem;}