body { margin: 0; font-family: Inter, sans-serif; background-color: white; color: #2B283A; }
header { width: 100%; height: 3.4375rem; background-color: #F55A5A; display: flex; justify-content: center; align-items: center;}
header > img { width: 2rem; }
header > h1 { font-weight: 400; font-size: 1.25rem; margin-left: 0.75rem; color: white;}
a { color: #918E9B; font-weight: 200;}
article { display: flex; width: 42rem; height: 19rem; gap: 1.75rem; align-items: center; margin: 4rem 0 0;}
article > img { width: 12.5rem; border-radius: 0.31rem; height: 90%;}
article > div > h1 { font-size: 2.75rem; margin: 1rem 0 1.8rem}
article > div > h3 { font-size: 1rem;}
article > div > p { font-weight: 300;}
.loc-title { display: flex; align-items: center;}
.loc-title > h4 { font-weight: 300; letter-spacing: 0.175rem; margin: 0 0.75rem 0 0; }
.marker-icon { width: 1.4rem;}
#root { display: flex; flex-direction: column; align-items: center;}
