* { box-sizing: border-box;}
body { margin: 0; background-color: #282726; min-height: 100vh; display: flex; flex-direction: column; align-items: center;
    color: white; font-family: 'Hanken Grotesk', 'sans-serif'; padding: 1rem;}
main { width: 100%; display: flex; flex-direction: column; align-items: center; min-width: 100vw;}
header { text-align: center; width: fit-content; margin-top: -1rem;}
header > h1 { font-weight: 400; color: #F9F4DA; margin-bottom: 0;}
header > p { color: #8E8E8E; margin-top: 0.75rem; max-width: 24rem;}
.status { width: 57%; height: 3.75rem; border-radius: 0.25rem; background-color: #10A95B; margin-block: 1.25rem;
    display: flex; flex-direction: column; align-items: center; justify-content: center; color: #F9F4DA}
.status > h1 {margin: 0; font-weight: 500; font-size: 1.5rem;}
.status > p {margin: 0; font-size: 1.12rem;}
.chips { display: flex; flex-wrap: wrap; gap: 0.2rem; width: 50%; justify-content: center; margin-top: 1.25rem;
    max-width: 20rem; }
.letter { width: 3.5rem; height: 3.5rem; background-color: #323232; color: #F9F4DA; border-bottom: 2px solid #F9F4DA; display: flex; 
    justify-content: center; align-items: center; font-weight: bold; font-size: 1.75rem;}
.letters { display: flex; gap: 0.2rem; margin-top: 2rem;}
.key-btn { width: 3.5rem; height: 3.5rem; background-color: #FCBA29; border: 1px solid #D7D7D7; border-radius: 0.25rem; font-size: 1.5rem;
    font-weight: 400; font-family: 'Hanken Grotesk', 'sans-serif';}
.keyboard { display: flex; width: 45%; flex-wrap: wrap; justify-content: center; gap: 0.5rem; margin-top: 4rem;}