* { box-sizing: border-box;}
body { margin: 0; background-color: #282726; min-height: 100vh; display: flex; flex-direction: column; align-items: center;
    color: white; font-family: 'Hanken Grotesk', 'sans-serif'; padding: 1rem;}
main { width: 100%; display: flex; flex-direction: column; align-items: center; min-width: 100vw;}
header { text-align: center; width: fit-content;}
header > h1 { font-weight: 400; color: #F9F4DA; margin-bottom: 0;}
header > p { color: #8E8E8E; margin-top: 0.75rem; max-width: 24rem;}
.status { width: 57%; height: 5rem; border-radius: 0.25rem; background-color: #10A95B; margin-block: 1.25rem;
    display: flex; flex-direction: column; align-items: center; justify-content: center; color: #F9F4DA}
.status > h1 {margin: 0; font-weight: 500;}
.status > p {margin: 0; font-size: 1.25rem;}
.chips { display: flex; flex-wrap: wrap; gap: 0.2rem; width: 50%; justify-content: center; margin-top: 2rem;
}