body {
    background: #1F2937;
    margin: 0;
}

.container-one {
    background-color: #6943FF;
    width: 100%;
    height: 30em;
    position: relative;
    bottom: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0.6em 0 0;
    color: white;
    font-family: sans-serif;
    font-size: 4em;
}

input {
    margin: 0.5em 0 0;
    width: 5em;
    height: 1em; /* Adjusted height */
    background-color: transparent;
    border-radius: 6px;
    border: 3px solid #B295FF;
    color: white;
    font-size: 6em;
    padding: 0.2em 0.5em; /* Add padding */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-weight: bold;
    text-align: center;
}

input:focus {
    outline: none;
}

#convert-btn {
    position: relative;
    top: 1.3em;
    background-color: white;
    width: 10.1em;
    padding: 20px 0em;
    font-family: sans-serif;
    font-size: 1.7em;
    border-radius: 10px;
    box-shadow: 0 6px 0 black;
}

#convert-btn:hover{
    background-color: orange;
    
}

#convert-btn:active {
    box-shadow: none;
    top: 1.5em; /* Adjusted by 2px (original 1.3em + 0.2em for the removed shadow) */
}

.container-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25em; /* Added height to allow justify-content to distribute space */
}

.subcontainer-one, .subcontainer-two, .subcontainer-three {
    display: flex;
    flex-direction: column;
    width: 40em;
    height: 6em;
    background-color: #273549;
    border-radius: 8px;
    text-align: center;
}

h3 {
    color: #CCC1FF;
    font-family: sans-serif;
    font-size: 20px;
    margin: 10px 0 0;
}

#result-one, #result-two, #result-three{
    color: white;
    font-size: 10px;
    font-family: sans-serif;
    font-size: 20px;

}

#error-msg {
    color: #6943FF;
    font-size: 10px;
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    top: 3em;

}