@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-karla);
  --font-inter: var(--font-inter)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B2434;
    --foreground: #ededed;
  }
}

* { box-sizing: border-box;}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: karla, Inter;
}
