@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hanken-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282726;
    --foreground: #ffffff;
  }
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
}
